@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Zeyada&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

@layer components {
  .section {
    @apply px-4 w-container;
  }
}

.carousel {
  height: 400px !important;
}

.slider-wrapper {
  height: 340px !important;
}

.slide {
  height: 340px !important;
}
